@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    border-collapse: collapse;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif !important;
}

:root{
    --cor-preta: black;
    --cor-branca: #fff;
    --cor-principal: #3d2725;
    --cor-secundaria: #c69e4f;
}

.rwb-tooltip{
    background: var(--cor-branca);
    color: var(--cor-preta);
    font-weight: bold;
}

/* Cabecalho - Início */

.cabecalho-invisivel{
    min-height: 8rem;
}

.cabecalho, .cabecalho-mobile{
    width: 100%;
    padding: 2rem 0;
    background: var(--cor-principal);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.cabecalho-oculto{
    background: var(--cor-principal);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 100vh;
    padding: 1rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 100000;
    transition: .3s;
    transform: translateX(22rem);
}

.cabecalho-oculto>nav a{
    color: var(--cor-principal);
    transition: .3s;
}

.cabecalho-oculto>nav a:hover{
    transform: scale(1.05);
}

.cabecalho-oculto>nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.cabecalho-mobile{
    display: none;
}

.cabecalho>div, .cabecalho-mobile>div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho>div>a, .cabecalho-mobile>div>a, .cabecalho-oculto>a{
    transition: .3s;
}

.cabecalho>div>a:hover, .cabecalho-mobile>div>a:hover, .cabecalho-oculto>a:hover{
    transform: scale(1.05);
}

.cabecalho>div>a img, .cabecalho-mobile>div>a img, .cabecalho-oculto>a img{
    width: 10rem;
}

.botao-mobile, .botao-oculto{
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: .3s;
}

.botao-oculto{
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
}

.botao-oculto>span:nth-of-type(1){
    transform: rotate(45deg) translate(1rem);
}

.botao-oculto>span:nth-of-type(2){
    transform: rotate(-45deg) translate(0.8rem);
}

.botao-mobile:hover, .botao-oculto:hover{
    transform: scale(1.05);
}

.botao-mobile>span, .botao-oculto>span{
    width: 100%;
    height: 0.3rem;
    border-radius: 1rem;
    background-color: var(--cor-secundaria);
}

.cabecalho>div nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.cabecalho>div nav a, .cabecalho-oculto nav a{
    color: var(--cor-secundaria);
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
    transition: .3s;
}

.cabecalho-oculto nav a{
    font-size: 1.7rem;
}

.cabecalho>div nav a span, .cabecalho-oculto nav a span{
    width: 0%;
    height: 0.3rem;
    background: var(--cor-secundaria);
    border-radius: 1rem;
    transition: .3s;
}

.cabecalho>div nav a:hover{
    transform: scale(1.05);
}

.cabecalho>div nav a:hover span, .cabecalho-oculto nav a:hover span{
    width: 100%;
}

/* Cabecalho - Fim */

/* Container Home - Início */

.container-inicio{
    width: 100%;
    background: url('images/fundo1.jpg') center;
    background-size: cover;
    border-bottom: 0.3rem solid var(--cor-secundaria);
}

.container-inicio>div{
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

.container-inicio>div>div{
    width: 90%;
    padding: 2rem 0;
    min-height: 87vh;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home{
    max-width: 50rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.home h1{
    font-size: 4rem;
    color: var(--cor-secundaria);
}

.home p{
    font-size: 1.6rem;
    color: var(--cor-principal);
    font-weight: bold;
    text-indent: 1rem;
    text-align: justify;
}

.home a{
    border-radius: 10rem;
    background: var(--cor-secundaria);
    color: var(--cor-principal);
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 1rem 0 0 0;
    transition: .3s;
}

.home a:hover{
    transform: scale(1.05);
}

/* Container Home - Fim */

/* Container Sobre Nós - Início */

.container-sobre-nos{
    width: 100%;
    background: linear-gradient(90deg, rgba(142,99,95,1) 27%, rgba(61,39,37,1) 69%);
    border-bottom: 0.3rem solid var(--cor-secundaria);
}

.container-sobre-nos>div{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.titulo img{
    max-width: 7rem;
}

.titulo{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin: 0 0 0.7rem 0;
    color: var(--cor-secundaria);
}

.sobre-nos p{
    font-weight: bold;
    font-size: 1.6rem;
    text-indent: 2rem;
    text-align: justify;
}

.sobre-nos{
    color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1.5rem;
    max-width: 60rem;
}

/* Container Sobre Nós - Fim */

/* Container Produtores e Cafeterias - Início */

.container-cafeterias{
    width: 100%;
    padding: 2rem 0;
    background: linear-gradient(90deg, rgba(142,99,95,1) 27%, rgba(61,39,37,1) 69%);
    border-bottom: 0.3rem solid var(--cor-secundaria);
}

.container-cafeterias>div{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.container-produtores{
    width: 100%;
    background: url('images/fundo2.jpg') center;
    background-size: cover;
    border-bottom: 0.3rem solid var(--cor-secundaria);
}

.container-produtores>div{
    width: 100%;
    padding: 2rem 0;
    background: rgba(0, 0, 0, 0.5);
}

.container-produtores>div>div{
    width: 90%;
    padding: 2rem 0;
    min-height: 87vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.produtores-form, .cafeterias-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 1.5rem;
    width: 100%;
}

.produtores-form select, .cafeterias-form select{
    border: 0.2rem solid var(--cor-secundaria);
    font-weight: bold;
    background: transparent;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--cor-secundaria);
}

.produtores-form input, .cafeterias-form input{
    border-radius: 1rem;
    cursor: pointer;
    background: var(--cor-secundaria);
    color: var(--cor-principal);
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    transition: .3s;
}

.produtores-form input:hover, .cafeterias-form input:hover{
    transform: scale(1.05);
}

.produtores-form option, .cafeterias-form option{
    background: var(--cor-principal);
}

.produtores, .cafeterias{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.produtor, .cafeteria{
    max-width: 50rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color: var(--cor-secundaria);
    background: var(--cor-principal);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 3rem var(--cor-secundaria);
    position: relative;
}

.produtor span, .cafeteria span{
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    border-top-right-radius: 2rem;
    text-align: center;
    height: 2rem;
    background: var(--cor-secundaria);
    color: var(--cor-principal);
    font-size: 1.6rem;
    font-weight: bold;
}

.produtor h3, .cafeteria h3{
    font-size: 3rem;
}

.produtor>div, .cafeteria>div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.produtor>div p, .cafeteria>div p{
    text-indent: 1rem;
    text-align: justify;
}

.produtor-redes-sociais, .cafeteria-redes-sociais{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.produtor-redes-sociais img, .cafeteria-redes-sociais img{
    max-width: 5rem;
}

.produtor-redes-sociais a, .cafeteria-redes-sociais a{
    transition: .3s;
}

.produtor-redes-sociais a:hover, .cafeteria-redes-sociais a:hover{
    transform: scale(1.05);
}

.produtor>img, .cafeteria>img{
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* Container Produtores e Cafeterias - Fim */

/* Container Contatos - Início */

.container-contatos{
    width: 100%;
    background: url('images/fundo4.jpg') center;
    background-size: cover;
    border-bottom: 0.3rem solid var(--cor-secundaria);
}

.container-contatos>div{
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.container-contatos>div>div{
    width: 90%;
    padding: 2rem 0;
    min-height: 87vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.container-contatos h3{
    color: var(--cor-secundaria);
    text-align: center;
}

.container-contatos h3 span{
    color: var(--cor-secundaria);
    text-decoration: underline;
    border-radius: 1rem;
}

.contatos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 4rem;
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
    max-width: 45rem;
    text-align: center;
    font-size: 2rem;
    color: var(--cor-secundaria);
}

.contato img{
    max-width: 10rem;
}

.contato a{
    transition: .3s;
}

.contato a:last-child{
    background: var(--cor-secundaria);
    color: var(--cor-principal);
    font-weight: bold;
    border-radius: 1rem;
    padding: 1rem;
    transition: .3s;
}

.contato a:hover{
    transform: scale(1.05);
}

/* Container Contatos - Fim */

@media(max-width: 950px){
    header.container-oculto-desocultar{
        transform: translateX(0rem);
    }
}

@media(max-width: 900px){
    .container-inicio{
        background: url('images/fundo3.jpg') center;
        /* background-size: contain; */
    }

    .container-inicio>div{
        background: rgba(0, 0, 0, 0.6);
    }

    .home p{
        color: var(--cor-secundaria);
    }

    .cabecalho, .cabecalho-mobile{
        display: none;
    }
    
    .cabecalho-mobile{
        display: block;
    }
}

@media(max-width: 765px){
    
}

